<!--The content below is only a placeholder and can be replaced.-->

<!-- Image and text -->

<app-header></app-header>

      
<main>

    <mat-sidenav-container class="example-container">       
    
        <mat-sidenav mode="side" opened>
            <app-navbar></app-navbar>
        </mat-sidenav>
    
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <!-- <app-todo></app-todo>
            <app-todo-lists></app-todo-lists> -->
        </mat-sidenav-content>
    
    </mat-sidenav-container>
</main>
      

    <!-- <div class="row flex-xl-nowrap">

        <div class="col-4 col-md-3 col-xl-3 bd-sidebar border border-secondary">
            <app-navbar></app-navbar>
        </div>


        <main class="col border border-secondary">
        <app-todo></app-todo>
        </main>
    
    </div> RowFlex -->
 <!-- container -->
